@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft_Magenta: hsl(300, 69%, 71%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: var(--Violet);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header img {
  width: 7rem;
  height: 6rem;
  margin-bottom: 1rem;
  display: flex;

}

.mockups img {
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 3rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  color: rgb(230, 230, 230);
  font-size: 1rem;
  margin-bottom: 2rem;
}

.boton {
  margin-bottom: 1rem;
  color: var(--Violet);
  text-decoration: none;
  background-color: white;
  border-radius: 25px;
  width: 12rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 5rem;
  font-size: .8rem;
  -webkit-box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.1);
  box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.1);
  font-family: 'Poppins', sans-serif;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 7vw;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 1rem;
  margin-bottom: 2rem;
  color: white;
  text-decoration: none;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: rgb(100, 128, 255);
  text-decoration: none;
}

@media (min-width: 1366px) {
  .container {
    width: 90%;
  }

  body {
    background-image: url(./images/bg-desktop.svg);
  }

  header {
    height: 9.2rem;
  }

  header img {
    margin-top: 2rem;
    width: 12rem;
    height: 6rem;
  }

  main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mockups {
    width: 55%;
    padding: .7rem 0;
  }

  .mockups img {
    margin: 0;
  }

  .texto {
    width: 40%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    margin-bottom: 1rem;
  }

  .texto h1 {
    font-size: 2.5rem;
  }

  .texto p {
    font-size: 1.1rem;
  }

  .boton {
    height: 3rem;
    margin: 0;
    font-size: 1.2rem;
  }

  .boton:hover {
    background-color: var(--Soft_Magenta);
    color: white;
  }

  .cards {
    justify-content: end;
  }

  .card {
    width: 3vw;
    height: 5vh;
  }

  .card:hover {
    border: 1px solid var(--Soft_Magenta);
    color: var(--Soft_Magenta);
  }
}